/* 1. VARIABLES: La paleta de colores y fuentes */
:root {

    --fondo-oscuro: #121212;
    --fondo-tarjeta: #1e1e1e;
    --color-acento: #4caf50; /* Un verde tranquilo para el enfoque */
    --fuente-principal: 'Segoe UI', system-ui, sans-serif;
    /* ==========================================
   SISTEMA DE DISEÑO: Paleta Maestra V6
   ========================================== */
    /* Fondos (Las capas de profundidad) */
    --fondo-void: #0e0e0e;       /* El negro absoluto del fondo principal */
    --superficie-panel: #131313; /* Un gris levísimamente más claro para paneles */
    
    /* Textos (Jerarquía de lectura) */
    --texto-principal: #ffffff;  /* Blanco puro para datos críticos */
    --texto-secundario: #adaaaa; /* Gris claro para subtítulos y datos secundarios */
    --texto-tenue: #565555;      /* Gris oscuro para firmas y marcas de agua */
    
    /* Acentos (La energía Kinetic) */
    --acento-energia: #ff5f1f;   /* Naranja vibrante para el enfoque y la marca */
    --acento-calma: #90e28a;     /* Verde suave para descansos y éxito */



}

/* 2. RESETEO Y MODELO DE CAJA */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 3. FLEXBOX EN EL BODY: Centrado perfecto */
body {
    background-color: var(--fondo-oscuro);
    color: var(--texto-principal);
    font-family: var(--fuente-principal);
    
    /* Magia de Flexbox */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    min-height: 100vh;       /* Ocupa el 100% del alto de la pantalla */

    /* LA MAGIA DEL DÍA 3 (V4): Transiciones de estado */
    /* Le decimos que el color de fondo cambie suavemente durante 0.8 segundos */
    transition: background-color 0.8s ease, color 0.8s ease;
}

/* 9. CLASE DE ESTADO: Modo Descanso */
/* Cuando el body tenga esta clase, las variables cambiarán automáticamente */
body.modo-descanso {
    --fondo-oscuro: #1b5e20; /* Un verde oscuro relajante */
    --color-acento: #81c784; /* Un verde más claro para los botones */
}

.contador { 
    color: var(--texto-secundario); 
    font-size: 1rem; 
    margin-bottom: 20px;
 }